:root{
    --c1: hsl(24, 5%, 18%);
    --c2: hsl(14, 45%, 36%);
    --c3: hsl(332, 51%, 32%);
    --c4: hsl(0, 0%, 100%);
    --c5: hsl(330, 100%, 98%);
    --c6: hsl(30, 54%, 90%);
    --c7: hsl(30, 18%, 87%);
    --c8: hsl(30, 10%, 34%);
    --c9: hsl(24, 5%, 18%);
}

/* Olhar padding do main e outros detalhes restantes*/

@media screen and (min-width: 768px) {
    body{
        background-color: var(--c6);
        padding: 125px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    
    main{
        background-color: white;
        width: 740px;
        padding: 40px;
        border-radius: 20px;
    }

    section{
        margin: 15px 0px;
    }

    picture, picture > img{
        border-radius: 10px;
    }

    table{
        margin-bottom: -20px;
    }
}