@font-face {
    font-family: 'young';
    src: url(../assets/fonts/young-serif/YoungSerif-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'outfit';
    src: url(../assets/fonts/outfit/Outfit-VariableFont_wght.ttf) format('truetype');
}

:root{
    --c1: hsl(24, 5%, 18%);
    --c2: hsl(14, 45%, 36%);
    --c3: hsl(332, 51%, 32%);
    --c4: hsl(0, 0%, 100%);
    --c5: hsl(330, 100%, 98%);
    --c6: hsl(30, 54%, 90%);
    --c7: hsl(30, 18%, 87%);
    --c8: hsl(30, 10%, 34%);
    --c9: hsl(24, 5%, 18%);
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}

main{
    display: flex;
    flex-flow: column nowrap;
    font: normal 400 1em/150% 'outfit';
}

picture, picture > img{
    width: 100%;
}

section{
    margin: 15px 30px;
}

section:not(:first-of-type, :last-of-type){
    border-bottom: 1px solid var(--c7);
}

h1{
    font: normal 400 2.2em/100% 'young';
    color: var(--c1);
    margin: 15px 0px;
}

p{
    color: var(--c8);
    margin: 20px 0px;
}

aside{
    background-color: var(--c5);
    padding: 20px 25px;
    margin: 0px 25px 20px 30px;
    border-radius: 10px;
}

aside > h3{
    font: normal 600 1.2em/150% 'outfit';
    color: hsl(332, 51%, 32%);
}

ul, ol{
    padding: 0px 25px;
    margin-bottom: 35px;
}

li{
    margin: 10px 0px;
    color: var(--c9);
    padding-left: 15px;
}

aside > ul{
    margin-bottom: 0px;
}

aside > ul > li::marker{
    color: var(--c3);
}

li::marker{
    color: var(--c2);
}

strong{
    color: hsl(30, 10%, 34%);
}

h2{
    font: normal 400 2em/100% 'young';
    color: var(--c2);
    margin-bottom: 20px;
}

hr{
    color: var(--c7);
    width: calc(100% - 60px);
    margin: auto;
}

table{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

tr:not(:last-child) {
    border-bottom: 1px solid var(--c7);
}

td, th{
    padding: 10px 30px;
}

th{
    color: var(--c8);
    font-weight: 400;
}

td{
    color: var(--c2);
    font-weight: 700;
    padding-left: 0px;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: var(--c2); }