@font-face {
    font-family: 'young';
    src: url(../assets/fonts/young-serif/YoungSerif-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'outfit';
    src: url(../assets/fonts/outfit/Outfit-VariableFont_wght.ttf) format('truetype');
}

:root{
    --c1: hsl(24, 5%, 18%);
    --c2: hsl(14, 45%, 36%);
    --c3: hsl(332, 51%, 32%);
}


*{
    padding: 0px;
    margin: 0px;
}

body{
    box-sizing: border-box;
}

main{
    font-family: 'outfit';
    
}

picture{
    display: block;
    height: 175px;
    background: darkgray url(../assets/images/image-omelette.jpeg) center center no-repeat scroll;
    background-size: cover;
}

h1, h2{
    font-family: 'young';
    font-style: normal;
    font-weight: 400;
    margin: 30px;
}

h1{
    color:var(--c1);
    
    
}

p{
    text-align: justify;
    margin: 30px;
    font-size: 1em;
    
}

section{
    width: 70%;
    background-color: hsl(330, 100%, 98%);
    margin: 45px;
    padding: 20px;
    border-radius: 10px;
}

h3{
    color: var(--c3);
}

h2{
    color: var(--c2);
    font-size: 2em;
}

ul{
    margin: 30px;
}

li::marker{
    color: hsl(14, 45%, 36%);
}

strong{
    color: hsl(24, 5%, 18%);
}

ol{
    margin: 30px;
}

hr{
    margin: auto;
    width: 80%;
}

table{
    border-collapse: collapse;
    margin: auto;
}

td, th{
    border: 1px solid black;
}

th{
    font-style: normal;
    font-weight: 400;
}












.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }